:root {
  --container-width: 1318px;
  --container-padding: 15px;

  --main-color: #1e1b1b;
  --second-color: #ff6433;
  --dark-color: #000;
  --white-color: #fff;
  --gray-color: #939191;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.none {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul,
li {
  list-style: none;
}

address {
  font-style: normal;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html,
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: var(--main-color);
  overflow-x: hidden;
}
.visibility-hidden {
  visibility: hidden;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.btn {
  padding: 16px 40px;
  background: var(--second-color);
  border-radius: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  border: none;
  color: var(--white-color);
  cursor: pointer;
  position: relative;
}
.btn:hover {
  opacity: 0.6;
}
.btn:active {
  top: 1px;
}
.logo {
  transition: all 0.3s;
}
.logo:hover {
  transform: scale(1.1);
}

.btn--dark {
  background: var(--main-color);
}
.section-title {
  font-size: 58px;
  line-height: 76px;
  font-weight: 800;
  letter-spacing: -0.03em;
  color: var(--main-color);
}
.section-title--big {
  font-size: 64px;
  line-height: 84px;
}
.section-title--small {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
}
.section-title--light {
  color: var(--white-color);
}
.sub-info {
  display: flex;
  align-items: center;
}
.sub-info__main-text {
  font-size: 18px;
  line-height: 175%;
  color: var(--main-color);
}
.sub-info__sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
}
.nav__items {
  display: flex;
  align-items: center;
}
.nav__link {
  font-size: 16px;
  line-height: 28px;
}
.nav__link:hover {
  opacity: 0.6;
}
.sub-item {
  background: var(--white-color);
  border: 12px solid rgba(225, 225, 225, 0.43);
  box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
  border-radius: 59px;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
.social-icons {
  display: flex;
}
.social-icons__link:not(:last-child) {
  margin-right: 23.67px;
}
.social-icons__link:hover {
  opacity: 0.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-us__content-box {
  display: flex;
  flex-direction: column;
}
.contact-us__sub-text {
  opacity: 0.6;
}
.contact-us__main-text {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.contact-us__sub-text--dark {
  opacity: 0.7;
  font-size: 16px;
  line-height: 28px;
}
.contact-us__main-text--dark {
  color: var(--main-color);
}

.contact-form__input {
  padding-left: 40px;
  height: 72px;
  background: #f2f2f2;
  border-radius: 2px;
  border: none;
  margin-bottom: 4px;
}
.contact-form__input::placeholder {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--main-color);
}
.contact-form__select {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--main-color);
  height: 72px;
  background: #f2f2f2;
  border-radius: 2px;
  border: none;
  margin-bottom: 4px;
  padding-left: 40px;
}
.contact-from__message-area {
  padding: 20px 40px 0 40px;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--main-color);
  height: 72px;
  background: #f2f2f2;
  border-radius: 2px;
  border: none;
  resize: vertical;
}
.contact-from__message-area::placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: var(--main-color);
}
.contact-form__btn {
  margin-top: 48px;
  align-self: flex-start;
}
/* header */

/* header-top start */
.header__top {
  padding: 18px 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  margin-left: auto;
  margin-right: 64px;
  color: var(--main-color);
}
.header__nav-item:not(:last-child) {
  margin-right: 40px;
}
.header__sub-info {
  position: relative;
}
.header__sub-info::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  opacity: 0.36;
  transform: rotate(90deg) translateY(-50%);
  top: 50%;
  left: -45px;
  background-color: #939191;
}
.header__tel-img {
  margin-right: 14px;
}
.header__tel-info-text {
  opacity: 0.7;
}

/* header-top end */

/* header-bottom start */

.header__bottom {
  padding: 80px 0 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__info-block {
  max-width: 624px;
  margin-right: 20px;
}
.header__block-buttons {
  display: flex;
  margin-bottom: 48px;
}
.header__service-btn {
  margin-right: 33px;
}
.header__play-btn {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__play-icon {
  margin-right: 8px;
}
.header__time-img {
  margin-right: 13px;
}
.header__bottom-info-text {
  color: var(--gray-color);
}
.header__img-block {
  position: relative;
}
.header__img-block img {
  /* max-width: 100%; */
}

.header__service-item {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 15px 39px 17px 14px;
  left: -39px;
  top: 59px;
}
.header__service-item-time {
  width: 70px;
  height: 70px;
  background: #5cba99;
  border-radius: 50%;
  margin-right: 14.41px;
}
.header__service-item-text {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.header__rating-item {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 68px;
  right: -32px;
  padding: 24px 32px 24px 39px;
}
.header__rating-block {
  margin-right: 15px;
}
.header__rating-text {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: var(--dark-color);
  margin-bottom: 3px;
}
.header__rating-sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-color);
  opacity: 0.7;
}

/* header-bottom end */
/* header end */

/* services section start */
.services {
  padding: 128px 0;
  background: #f2f2f2;
}
.services__sub-title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 6px;
}
.services__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}
.services__title {
  max-width: 858px;
  text-align: center;
}
.services__items {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, minmax(200px, 232px));
  margin-bottom: 32px;
}
.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  transition: all 0.3s;
}
.services__item:hover {
  background: var(--second-color);
}
.services__item:hover .services__item-name {
  transition: all 0.3s;
  color: var(--white-color);
}
.services__item:hover path,
.services__item:hover mask {
  fill: var(--white-color);
  transition: all 0.3s;
}
.services__item-name {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.03em;
}
.services__item-img {
  margin-bottom: 16px;
}

.services__arrow-learn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-left: auto;
}
.services__arrow-learn > span {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  color: var(--main-color);
  margin-right: 16px;
}
.services__arrow-icon {
  position: relative;
}
.services__arrow-learn:hover {
  opacity: 0.6;
}
.services__arrow-learn:active .services__arrow-icon {
  left: 2px;
}

/* services section end  */

/* process section start */
.process {
  padding: 134px 0;
}
.process__row {
  display: flex;
  align-items: flex-start;
}
.process__info-block {
  margin-right: 131px;
}
.process__title {
  max-width: 570px;
  margin-bottom: 16px;
}
.process__desc {
  max-width: 437px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 32px;
}
.process__numbers-items {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.process__numbers-item {
  min-height: 152px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.process__numbers-item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  top: 112px;
  border: 1px dashed var(--second-color);
  transform: rotate(90deg);
  width: 71px;
  height: 1px;
}
.process__numbers-item:not(:last-child) {
  margin-bottom: 16px;
}
.process__item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background: #661ce7;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: var(--white-color);
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
}
.process__item-number::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  background: rgba(255, 255, 255, 0.24);
  top: 53px;
  border-radius: 50%;
}
.process__item-info {
  margin-left: 21px;
}
.process__item-title {
  display: inline-block;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 8px;
}
.process__item-text {
  max-width: 336px;
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
}

/* process section end */

/* stats section start */
.stats {
  padding: 48px 0;
}
.stats__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats__block {
  display: flex;
  flex-direction: column;
}
.stats__block:not(:last-child) {
  margin-right: 20px;
}
.stats__numbers {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #661ce7;
  align-self: flex-start;
}
.stats__desc {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  opacity: 0.7;
}
/* stats section end */

/* brands section start */
.brands {
  padding: 128px 0px 82px 0;
  background-color: #e2e6e9;
}

.brands__title {
  text-align: center;
  margin-bottom: 31px;
}
.brands__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brands__items:not(:last-child) {
  margin-bottom: 36px;
}
.brands__img:not(:last-child) {
  margin-right: 10px;
}
.brands__img {
  transition: all 0.3s;
}
.brands__img:hover {
  transform: scale(1.2);
}

/* brands section end */

/* blog section start */
.blog {
  padding: 131px 0 136px 0;
}
.blog__head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blog__posts {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}
.blog__title {
  text-align: left;
  margin-bottom: 47px;
}
.blog__filter-items {
  display: flex;
  margin-bottom: 46px;
}
.blog__filter-item:not(:last-child) {
  margin-right: 30px;
}
.blog__filter-link {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}
.blog__filter-link:hover {
  opacity: 0.6;
}
.blog__post-date {
  display: inline-block;
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}
.blog__post-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
}
.blog__post-text {
  margin-top: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #232536;
}
.blog__img {
  max-width: 100%;
}

/* blog section end */

/* reviews section start */
.reviews {
  padding: 128px 0;
  background: #f2f2f2;
}
.reviews__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__title {
  max-width: 909px;
  text-align: center;
  margin-bottom: 76px;
}
.reviews__slider {
  display: flex;
  flex-direction: column;
}
.reviews__slider-items {
  display: none;
}
.reviews__slider-items--active {
  display: flex;
}
.reviews__slider-item {
  font-weight: 600;
  padding: 72px;
  background: var(--white-color);
}
.reviews__slider-item:not(:last-child) {
  margin-right: 48px;
}
.reviews__user-info {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.reviews__user-name {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}
.reviews__user-city {
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}
.reviews__user-info-text {
  display: flex;
  flex-direction: column;
}
.reviews__user-img {
  border-radius: 50%;
  margin-right: 16px;
}
.reviews__user-desc {
  max-width: 472px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1e1b1b;
}
.reviews__slider-bottom {
  display: flex;
  flex-direction: column;
}

.reviews__slider-lines {
  position: relative;
  top: 47px;
  display: flex;
  align-self: center;
}
.reviews__slider-line {
  width: 32px;
  height: 6px;
  background-color: #939191;
  cursor: pointer;
}
.reviews__slider-line:not(:last-child) {
  margin-right: 15px;
}
.reviews__slider-line--active {
  background-color: var(--second-color);
}
.reviews__slider-buttons {
  position: relative;
  top: 16px;
  display: flex;
  align-items: center;
  align-self: flex-end;
}
.reviews__slider-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.reviews__slider-light {
  background-color: var(--white-color);
  width: 48px;
  height: 48px;
}
.reviews__slider-btn-dark {
  width: 62px;
  height: 62px;
  background-color: var(--main-color);
}
.reviews__slider-btn:not(:last-child) {
  margin-right: 24px;
}

/* reviews section end */

.que {
  padding: 128px 0px;
  background: #e2e6e9;
}
.que__title {
  text-align: center;
  margin-bottom: 86px;
}
.que__acc-items {
  max-width: 896px;
  margin: 0 auto;
}
.que__acc-item {
  font-weight: 600;
  padding: 40px;
  background-color: var(--white-color);
}
.que__acc-item:not(:last-child) {
  margin-bottom: 12px;
}
.que__acc-item-title {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  position: relative;
}
.que__acc-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.que__acc-item-btn {
  margin-left: 10px;
  display: block;
  width: 51px;
  height: 48px;
  color: var(--white-color);
  background: #ff6433;
  border: none;
  flex-shrink: 0;
  position: relative;
}
.que__acc-item-btn::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
}
.que__acc-item-btn::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background-color: var(--white-color);
}
.que__acc-item-text {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 679px;
  font-size: 18px;
  line-height: 175%;
  color: #939191;
}
.que__acc-item.que__acc-item--active .que__acc-item-text {
  height: 100%;
}
.que__acc-item.que__acc-item--active .que__acc-item-btn::before {
  display: none;
}
/* contact section start */
.contact {
  padding-top: 121px;
  position: relative;
}
.contact__row {
  display: flex;
}
.contact__title {
  max-width: 507px;
  margin-bottom: 48px;
}

.contact__map {
  position: relative;
  max-width: 100%;
  top: 178px;
  z-index: 4;
}
.contact__content-form {
  max-width: 626px;
  flex: auto;
}
.contact__content {
  margin-left: 139px;
  align-self: flex-start;
}
.contact__content-box:not(:last-child) {
  margin-bottom: 32px;
}
.contact__sub-text {
  margin-bottom: 2px;
}

/* contact section end*/

/* street section start */
.street {
  height: 448px;
  background-image: url(../img/street/bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
/* street section end */

/* help section start */

.help {
  min-height: 502px;
  background: url(../img/help/bg-img.jpg) no-repeat center / cover;
}
.help__inner {
  display: flex;
  flex-direction: column;
}
.help__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  max-width: 729px;
  padding: 128px 80px;
  background-color: var(--second-color);
}
.help__title {
  margin-bottom: 48px;
}
.help__btn {
  align-self: flex-start;
}
/* help section end */

/* find section start */

.find {
  background-color: var(--main-color);
  color: var(--white-color);
  opacity: 0.98;
  padding: 128px 0 129px 0;
}
.find__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.find__left-content {
  max-width: 463px;
  align-self: flex-start;
  margin-right: 20px;
}
.find__right-content {
  margin-right: 152px;
}
.find__title {
  margin-bottom: 64px;
}
.find__sub-text {
  display: inline-block;
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  margin-bottom: 13px;
}

.find__content-box:not(:last-child) {
  margin-bottom: 32px;
}
/* find section end */

.footer {
  background-color: var(--main-color);
  padding: 64px 0 66px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__nav {
  margin-left: 25px;
  color: var(--white-color);
}
.footer__nav-item:nth-child(1) {
  margin-right: 36px;
}
.footer__nav-item:nth-child(2) {
  margin-right: 39px;
}
.footer__nav-item:nth-child(3) {
  margin-right: 40px;
}
.footer__nav-item:nth-child(4) {
  margin-right: 45px;
}
.footer__copy {
  font-size: 16px;
  line-height: 28px;
  color: var(--gray-color);
}
